@import "values";

.blog {
	margin-top: 60px;
	&:first-child {
		margin-top: 0px;
	}

	.title {
		display: block;
		font-size: xx-large;
		font-weight: bold;
	}

	.date {
		display: block;
		font-size: small;
		color: $light-text-color;
	}

	h1 {
		font-size: x-large;
		font-weight: normal;
	}

	p {
		margin-top: 20px;
	}

	.code-block {
		margin-top: 20px;
	}
}

#side-graphic {
	height: 100%;
	position: fixed;
	top: 0px;
left: 0px; }
