@import "common";

.blog {
	.date {
		display: block;
		font-size: small;
		color: $light-text-color;
	}

	h1 {
		font-size: x-large;
		font-weight: normal;
	}

	p {
		margin-top: 20px;
	}

	.code-block {
		margin-top: 20px;
	}
}

.blog-separator {
	margin: 80px 0px;
}
