@import "common";

.blog {
	.date {
		display: block;
		font-size: small;
		color: $light-text-color;
	}

	h1 {
		font-size: x-large;
		font-weight: normal;
	}

	p {
		margin-top: 20px;
	}

	.code-block {
		margin-top: 20px;
	}

	.read-more {
		display: block;
		text-align: right;
		padding-right: 40px;
		padding-top: 20px;
	}

	img {

		@include centered;
		display: block;
	}
}

.blog-separator {
	margin: 80px 0px;
}
