@import "common";

.project-category {

	h1 {
		font-size: large;
	}

	img {
		@include centered;
		border-style: solid;
		border-width: 2px;
		border-color: $dark;
		display: block;

		&:hover {
			border-color: $highlight;
		}
	}
}
