$dark: #262626;
$very-dark: #111;
$light: #888;
$highlight: #3399FF;
$very-light: #eee;
$separator-color: $very-light;

$main-text-color: $dark;
$light-text-color: $light;
$link-color: $highlight;
$header-height: 100px;
$page-width: 900px;
$content-width: 600px;

@mixin centered {
	margin-left: auto;
	margin-right: auto;
}

@mixin content-container {

	border-radius: 0px;
	background-color: $very-light;
	color: white !important;
	.title {
		color: white !important;
	}
	padding: 1px;
	@include centered;
	display: block;
}
