@import "common";

body {
	background-color: white;
	color: $main-text-color;
	margin: 0px;
	font-family: "Helvetica";
	text-align: justify;

	a {
		text-decoration: none;
		color: $main-text-color;

		&:hover {
			color: $link-color;
		}
	}
}

#page {
	padding: {
		top: 80px;
		bottom: 40px;
	}

	overflow-x: hidden;
	overflow-y: auto;

	&>p, &>div, &>h1, &>h2 {
		width: $content-width;
		@include centered;
	}

	.title {
		display: block;
		font-size: xx-large;
		font-weight: bold;
	}
}

#header {
	background-color: $very-dark;
	color: white;
	position: relative;
	height: $header-height;
	width: 100%;

	a {
		color: white;
		&:hover {
			color: $link-color;
		}
	}

	.title {
		font-size: xx-large;
		position: absolute;
		left: 50px;
		bottom: 30px;
		text-align: center;
	}

	.navigation {
		position: absolute;
		right: 50px;
		bottom: 30px;

		a {
			margin: 0px 10px;
			font-size: x-large;
		}
	}
}

#art {
	display: block;
	width: 100%;
}

.content-separator {
	margin: 80px 0px;
}

.small-content-separator {
	margin: 40px;
}

p {
	line-height: 1.5em;
}

