@import "values";

@mixin centered {
	margin-left: auto;
	margin-right: auto;
}

body {
	background-color: white;
	color: $main-text-color;
	margin: 0px;
	font-family: "Helvetica";
	text-align: justify;

	a {
		text-decoration: none;
		color: $main-text-color;

		&:hover {
			color: $link-color;
		}
	}
}

#page {
	@include centered;
	width: $page-width;
}

#header {
	background-color: #111;
	color: white;
	position: relative;
	height: $header-height;
	width: 100%;

	a {
		color: white;
		&:hover {
			color: $link-color;
		}
	}

	.title {
		font-size: xx-large;
		position: absolute;
		left: 50px;
		bottom: 30px;
		text-align: center;
	}

	.navigation {
		position: absolute;
		right: 50px;
		bottom: 30px;

		a {
			margin: 0px 10px;
			font-size: x-large;
		}
	}
}

#page-content {
	@include centered;
	background-color: white;
	overflow-y: auto;
	padding: 40px 60px;
	padding: 80px 60px 40px 60px;
}

#art {
	display: block;
	width: 100%;
}
