@import "values";

.game-preview {

	display: inline-block;
	position: relative;
	background-color: $very-dark;
	color: white;
	width: 700px;
	border-radius: 4px;
	padding: 10px;
	min-height: 200px;

	&:hover {
		background-color: $highlight;
	}

	.info {
		float: right;
		width: 475px;
		margin: 0px 5px;
	}

	img {
		float: left;
		width: 200px;
		position: relative;
		min-height: 200px;

		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}
