@import "common";

.project-container-container {

	margin-bottom: 30px;
	text-align: center;
	width: auto !important;
	@include centered;

	.download-links {
		margin-top: 20px;
		:first-child { margin-top: 15px; }
	}
}

.project-container {
	@include content-container;
	border-style: none;
	display: inline-block;
}

.source {
	color: $light;
	font-size: small;
	font-weight: bold;
	display: block;
}
