@import "common";

.project-preview {
	@include content-container;

	position: relative;
	width: 700px;
	min-height: 200px;

	&:hover {
		background-color: $highlight;
	}

	.info {
		float: right;
		width: 460px;
		margin: 0px 20px;
	}

	img {
		float: left;
		width: 200px;
		position: relative;

		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;

		border-radius: 4px;
	}
}
