body {
    font-family: Helvitca, Sans-Serif;
    font-size: 16pt;
    margin-bottom: 80px;
}

a {
    color: #60a6e0;
    text-decoration: none;
}

#header {
    text-align: center;
    margin-bottom: 30px;
}

#header h1 {
    margin-bottom: 0px;
}

#content {
    margin: auto;
    max-width: 800px;
}
