body {
    font-family: Helvitca, Sans-Serif;
    font-size: 14pt;
}

a {
    color: #2eabd1;
    text-decoration: none;
}

#header {
    text-align: center;
    margin-bottom: 20px;
}

#header h1 {
    margin-bottom: 0px;
}

#content {
    width: 650px;
    margin: auto;
}
